
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改密码</title>
    <link href="~/Content/tableStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/ligerui/Source/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <script src="~/Content/ligerui/Source/lib/ligerUI/js/ligerui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //页面启动后光标定位在旧密码文本框
            $('#Pwd').focus();
        });
        function afterModify(data) {
            if (data == "ok") {
                //window.opener.afterEditSuccess();
                alert("修改成功！");
                window.parent.window.afterModifySuccess();
            }
            else {
                $.ligerDialog.warn(data);
                //alert(data);
            }
        }

        function closeModifyForm() {
            window.parent.window.afterModifySuccess();
        }
    </script>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("ChangePassword", "UserInfo", null, new AjaxOptions() { OnSuccess = "afterModify", HttpMethod = "Post" }))
        {
            <table class="hovertable" style="width:100%">
                <tr>
                    <td style="width:30%; text-align:right">旧密码</td>
                    <td style="width:70%"><input type="password" name="Pwd" id="Pwd" /></td>
                </tr>
                <tr>
                    <td style="width:30%; text-align:right">新密码</td>
                    <td style="width:70%"><input type="password" name="NewPwd" /></td>
                </tr>
                <tr>
                    <td style="width:30%; text-align:right">确认密码</td>
                    <td style="width:70%"><input type="password" name="ChkNewPwd" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <input type="submit" value="保存" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" name="取消" value="取消" onclick="closeModifyForm()" />
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
